@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --light-background-color: #FAEDCD;
  --light-contrast-color: #785737;
  --light-text-color: black;
  --light-btn-submit-color: #D4A373;
  --light-input-border-color: #D4A373;
  --light-note-background-color: #E9EDC9;
  --light-note-border-color: #CCD5AE;
  --off-white-color: #FEFAE0
}

/* html,
body {
  @apply bg-white dark:bg-gray-950;

  @media (prefers-color-scheme: dark) {
    color-scheme: dark;
  }
} */

html,
body{
  background-color: var(--light-background-color);
  color: var(--light-text-color);
}

.title{
  font-size: xx-large;
}

.input{
  background-color: var(--off-white-color);
  border: 2px solid var(--light-input-border-color);
  border-radius: 0.5rem;
  padding: 0 0.5rem
}

.btn-submit{
  background-color: var(--light-btn-submit-color);
  color: black;
  border: 2px solid var(--light-contrast-color);
  border-radius: 0.5rem;
}

.btn-cancel{
  background-color: var(--off-white-color);
  color: black;
  border: 2px solid var(--light-input-border-color);
  border-radius: 0.5rem;
}

.note{
  background: linear-gradient(to left, var(--light-note-background-color));
  color: black;
  border: 0.4rem solid var(--light-note-border-color);
  border-radius: 0.5rem;

  z-index: 1;
}

.text-toolbar{
  background-color: var(--light-btn-submit-color);
  color: black;
  border: 2px solid var(--light-contrast-color);
  border-radius: 0.5rem;
}

.note.prop{
  z-index: 0;
}


.note.right{
  transform-origin: right center;
  transform: rotateY(0deg);
}

.note.flip-right{
  z-index: 2;
  background: linear-gradient(to left, var(--light-note-background-color),  var(--light-note-border-color) , var(--light-note-background-color));
  transform-style: preserve-3d;
  transform-origin: right center;
  transform: perspective(800px) rotateY(180deg);
  transition: background-color 1s ease, transform 1s ease;
}

.note.left{
  transform-origin: left center;
  transform: rotateY(0deg);
}

.note.flip-left{
  background: linear-gradient(to left, var(--light-note-background-color),  var(--light-note-border-color) , var(--light-note-background-color));
  transform-style: preserve-3d;
  transform-origin: left center;
  transform: perspective(800px) rotateY(-179deg);
  transition: background-color 1s ease, transform 1s ease;
}


